{
  "ConnectionDefinition": [
    {
      "Connection type": "OAuth2",
      "access_token": ""
    },
    {
      "Connection type": "Site token",
      "access_token": ""
    }
  ],
  "TestFolder": "TestFiles"
}